doctype html
html
  head
    title Title page
    meta(charset='utf-8')
  body
    a(
    href="#",
    target="_blank",
    rel="nofollo w"
    )

    a(
    href="#"
    target="_blank"
    rel="nofollow"
    ) Hel
      | lo!

    a#mylink.class1(href="#")&attributes({
      'target': '_blank',
      'rel': 'nofollow',
    }) Hello!

    audio(loop controls) Hello!

    a(style={color: 'red', background: 'green'})
    